#github "ReactiveCocoa/ReactiveCocoa" "6e202fb9dc03030a0c308f6e68d73c56bc288802"
github "ReactiveCocoa/ReactiveCocoa" "def976d4ef5f3e38786a478a673db7c3f9a1d719"
#github "ikesyo/Himotoki" ~> 1.3.0
github "Alamofire/Alamofire" ~> 3.1.2
github "Swinject/Swinject" ~> 0.5
github "SwiftyJSON/SwiftyJSON"

github "Quick/Quick" == 0.8.0
github "Quick/Nimble" "v3.0.0"