github "ReactiveCocoa/ReactiveCocoa" "6e202fb9dc03030a0c308f6e68d73c56bc288802"
github "ikesyo/Himotoki" ~> 1.0.0
github "Alamofire/Alamofire" ~> 2.0.0
github "Swinject/Swinject" ~> 0.2.1
github "SwiftyJSON/SwiftyJSON" >= 2.2.1

github "Quick/Quick" == 0.6.0
github "Quick/Nimble" "v2.0.0-rc.3"